Client/Connected Services/ServiceReference1/Store.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Store" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4500/BookStore?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4500/BookStore?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4500/BookStore?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BookStoreService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStore_GetAllBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBooks" />
  </wsdl:message>
  <wsdl:message name="IStore_GetAllBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBooksResponse" />
  </wsdl:message>
  <wsdl:message name="IStore_AddNewBook_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewBook" />
  </wsdl:message>
  <wsdl:message name="IStore_AddNewBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewBookResponse" />
  </wsdl:message>
  <wsdl:message name="IStore_UpdateBookPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBookPrice" />
  </wsdl:message>
  <wsdl:message name="IStore_UpdateBookPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBookPriceResponse" />
  </wsdl:message>
  <wsdl:portType name="IStore">
    <wsdl:operation name="GetAllBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/IStore/GetAllBooks" message="tns:IStore_GetAllBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStore/GetAllBooksResponse" message="tns:IStore_GetAllBooks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IStore/AddNewBook" message="tns:IStore_AddNewBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStore/AddNewBookResponse" message="tns:IStore_AddNewBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBookPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/IStore/UpdateBookPrice" message="tns:IStore_UpdateBookPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStore/UpdateBookPriceResponse" message="tns:IStore_UpdateBookPrice_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStore" type="tns:IStore">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllBooks">
      <soap:operation soapAction="http://tempuri.org/IStore/GetAllBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewBook">
      <soap:operation soapAction="http://tempuri.org/IStore/AddNewBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBookPrice">
      <soap:operation soapAction="http://tempuri.org/IStore/UpdateBookPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Store">
    <wsdl:port name="BasicHttpBinding_IStore" binding="tns:BasicHttpBinding_IStore">
      <soap:address location="http://localhost:4500/BookStore" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>